/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  font-size: 1.4vw;
  position: relative;
  letter-spacing: 0.2vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/header-bg.jpg);
}

header .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(5, 12, 20, 0.7);
}

header .header-content {
  position: relative;
}

header nav {
  display: flex;
  padding: 1.8vw;
  justify-content: space-between;
}

header nav .name span {
  color: #bba37e;
}

header nav ul {
  justify-content: space-between;
}

header nav li {
  float: left;
  padding-right: 1vw;
}

@media only screen and (min-width: 1400px) {
  header nav {
    font-size: 22px;
  }
}

header .hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  header .hero {
    height: 500px;
  }
}

header .hero h1 {
  margin-top: 4vh;
  font-size: 2.6vw;
}

body {
  color: #FFF;
  background: #fff;
  font-family: 'Cormorant Garamond', serif;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

h1, h2 {
  letter-spacing: 0.4vw;
}

h2 {
  color: #000;
  font-size: 2vw;
  margin-bottom: 2vw;
}

.container {
  color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.summary .column {
  text-align: center;
  padding: 3vw;
}

.summary .no-padding {
  padding: 0;
}

.summary ul {
  width: 60%;
  margin: 0 auto;
}

.summary li {
  text-align: left;
  margin-bottom: 1vw;
  font-size: 1.3vw;
}

.summary .lawyer-container {
  padding: 0;
  background-image: url("../img/lawyer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.services .ambar {
  background-color: #bba37e;
}

.services .light-ambar {
  background-color: #cec7bd;
}

.services .column {
  padding: 2vw;
}

.academic {
  background-color: pink;
}
/*# sourceMappingURL=styles.css.map */