header {
    // display: flex;
    // background: #2c3c4a;
    // background: linear-gradient(0, rgba(5,12,20,1) 0%, rgba(44,60,74,1) 100%);
    font-size: 1.4vw;
    position: relative;
    letter-spacing: 0.2vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/header-bg.jpg);
    
    .overlay {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // height: 100%;
        position: absolute;
        background:rgba(5,12,20,0.7);
    }

    .header-content {
        position: relative;
    }

    nav {
        display: flex;
        padding: 1.8vw;
        justify-content: space-between;

        .name {
            // font-size: 1.4vw;

            span {
                color: #bba37e;
            }
        }

        ul {
            justify-content: space-between;
        }

        li {
            float: left;
            padding-right: 1vw;
        }

        @media only screen and (min-width: 1400px) {
            font-size: 22px;
        }
    }

    .hero {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        // height: 300px;
        // position: relative;
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-image: url(../img/hero-bg.jpeg);
    
        @media only screen and (min-width: 768px) {
            height: 500px;
        }

        h1 {
            margin-top: 4vh;
            font-size: 2.6vw;
        }
    }
}