body {
    background: #fff;
}

main {
    max-width: 1400px;
    margin: 0 auto;
}



.summary {
    background-color: yellow;
}

.services {
    background-color: blue;
}

.academic {
     background-color: pink;
}